<html>

<head>
    <style>
        #box_drawer {
            border: red dashed 5px;
            position: relative;
            display: inline-block;
        }

        .box {
            border: blue solid 5px;
            position: absolute;
            pointer-events: none;
        }

        #current_drawing_box {
            border: rgb(242, 0, 255) dashed 5px;
        }

        .box_preview {
            height: 40px;
            max-width: 200px;
        }


        #tile_guide_drawer {
            opacity: 0.8;
            width: 100%;
            height: 100%;
            position: absolute;
            border: rgb(0, 255, 51) solid 5px;
            display: inline-block;
        }

        .tile {
            position: absolute;
            border: rgb(174, 0, 255) solid 1px;
            background-color: orange;
            display: inline-block;
            opacity: 0.5;
        }

        .tile:hover {
            opacity: 1;
        }
    </style>

    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@3.18.0/dist/tf.min.js"></script>

    <script src="one_shot_object_detection.js"></script>

    <script src="https://unpkg.com/vue@3"></script>

</head>

<body>

    <div id="app">
        <h1>Box drawer sandbox</h1>

        <div id="box_drawer" @mousedown="mouseDown" @mouseup="mouseUp" @mousemove="mouseMove">

            <!-- all bouding boxes -->
            <div class="box" v-for="box in boxes"
                :style="{ 'left': box.x + 'px' , 'top': box.y + 'px', 'width': box.width + 'px' , 'height': box.height + 'px'}">
            </div>

            <!-- currently drawing bouding box -->
            <div id="current_drawing_box" class="box" v-if="current_drawing_box != null"
                :style="{ 'left': current_drawing_box.x + 'px' , 'top': current_drawing_box.y + 'px',  'width': current_drawing_box.width + 'px' , 'height': current_drawing_box.height + 'px'}">
            </div>

            <!-- canvas to draw image on -->
            <canvas id="canvas" height="800" width="800"></canvas>

            <!-- visuliserf or the tiles that the image is being split up into -->
            <div id="tile_guide_drawer">
                <div class="tile" v-for="tile in tile_dims"
                    :style="{ 'left': tile.x + 'px' , 'top': tile.y + 'px', 'width': tile.width + 'px' , 'height': tile.height + 'px'}">
                    {{tile.x}} - {{tile.y}} - {{tile.width}} - {{tile.height}}
                </div>
            </div>

        </div>

        <div>
            <p v-for="box in boxes">
                x:{{box.x}} y:{{box.y}} width:{{box.width}} height:{{box.height}} <button
                    @click="remove_box(box)">remove</button>
                <img class="box_preview" v-bind:src="box.image_data">
                <button @click="generate_image_tiles(box)">generate image tiles</button>
            </p>
        </div>

        <div>
            <h2>One-shot-Object-Detection configs</h2>
            <p>
                <label>Model url </label>
                <input type="text" v-model="model_url" />
            </p>
            <p>
                <button @click="load_model">Load model</button>
            </p>
            <p>
                <button @click="run_similarity_convolution">Run similarity convolution</button>
            </p>
        </div>
    </div>

</body>


<script>

    const BOUNDING_BOX_BORDER_WIDTH = 5;

    const app = Vue.createApp({
        data() {

            this.model = null
            this.tile_data = null
            this.ctx = null

            return {
                boxes: [],
                current_drawing_box: null,
                model_url: "https://tfhub.dev/google/tfjs-model/imagenet/mobilenet_v1_025_128/feature_vector/1/default/1",
                tile_dims: []
            }
        },
        methods: {
            mouseDown: function (e) {
                console.log('down', e)
                this.current_drawing_box = {
                    x: e.offsetX - BOUNDING_BOX_BORDER_WIDTH,
                    y: e.offsetY - BOUNDING_BOX_BORDER_WIDTH,
                    width: 0, height: 0
                }
            },

            mouseMove: function (e) {
                // console.log('move')
                if (this.current_drawing_box) {
                    this.current_drawing_box.width = e.offsetX - this.current_drawing_box.x - BOUNDING_BOX_BORDER_WIDTH
                    this.current_drawing_box.height = e.offsetY - this.current_drawing_box.y - BOUNDING_BOX_BORDER_WIDTH
                }
            },

            mouseUp: function (e) {
                console.log('up', e)

                const width = e.offsetX - this.current_drawing_box.x - BOUNDING_BOX_BORDER_WIDTH
                const height = e.offsetY - this.current_drawing_box.y - BOUNDING_BOX_BORDER_WIDTH

                // if box has real width or height (not empty box)
                if ((width > 0) && (height > 0)) {

                    const image_data = this.ctx.getImageData(this.current_drawing_box.x + BOUNDING_BOX_BORDER_WIDTH,
                        this.current_drawing_box.y + BOUNDING_BOX_BORDER_WIDTH,
                        width, height)

                    this.boxes.push({
                        ...this.current_drawing_box,
                        height: height,
                        width: width,
                        image_data: imagedata_to_imageurl(image_data)
                    })
                }

                this.current_drawing_box = null
            },

            remove_box: function (box) {
                const id = this.boxes.indexOf(box)
                this.boxes.splice(id, 1)
            },

            load_model: function () {
                // alert('load model' + this.model_url)
                load_remote_model(this.model_url, function (model) {
                    app.model =  model
                })
            },

            generate_image_tiles: function (box) {
                console.log('generating tiles with ', box)
                const image_dims = [this.ctx.canvas.width, this.ctx.canvas.height]
                this.tile_dims = generate_tiles_dimensions(image_dims, box,)
                this.tile_data = get_tile_data(this.tile_dims, this.ctx, this.model.inputs[0].shape)
                console.log(this.tile_data)
            },


            run_similarity_convolution: function () {
                console.log("running similarity convolution")

                const tiles_embeddings = Vue.toRaw(this.model).predict(this.tile_data)

                console.log(tiles_embeddings)

            }
        },
        mounted: function () {
            console.log('mounted')

            var canvas = document.getElementById("canvas")
            this.ctx = canvas.getContext("2d")

            // draw image on canvas
            var img = new Image
            img.onload = function () {
                app.ctx.drawImage(img, 0, 0, 800, 800)
            };
            img.src = "road.jpeg"

        }
    }).mount('#app')



    function imagedata_to_imageurl(imagedata) {

        const canvas = document.createElement('canvas')
        canvas.width = imagedata.width
        canvas.height = imagedata.height
        const ctx = canvas.getContext("2d")
        ctx.putImageData(imagedata, 0, 0)
        return canvas.toDataURL()
    }


</script>

</html>